.card {
  width: 140px;
  height: 140px;
  border: 3px solid gray;
  border-radius: 5px;
  float: left;
  margin: 5px;
  transition: all 0.5s;
}

.selected {
  background-color: blue;
}

.notEnable {
  background-color: grey;
}