@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

h1, h2 {
	transform-origin: 50% 50%;
	font-family: 'Sigmar One', cursive;
	top: 0;
	text-align: center;
	width: 100%;
  color: #3da1d1
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.restart {
  cursor: pointer;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 20px;
}