<mat-card>
  <mat-card-content>
    <section *ngIf="!showRestartBtn()">
     <h1>Avatar Memory Game</h1>
     <h2>Click cards and find matching images</h2>
    </section>

    <section *ngIf="showRestartBtn()"
      (focus)="showRestartBtn()">
      <img src="{{getCongratulationImg()}}" class="center">
        <h1>Congratulations</h1>
        <h2>You have successfully completed Memory Game!</h2>

        <h1 (click)="clickRestartBtn()" class="restart">Restart Game</h1>
    </section>

  </mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-content>
    <app-board></app-board>
  </mat-card-content>
</mat-card>